.divprincipal {
    margin:2% 5% 2% 5%;
  }

  body {
    width:100%;
  }

  .table th {
    padding-left:2%;
    text-align:left!important;
  }

  .taula td{
    padding:5px;
    border:solid 1px lightgray;
  }
  
  .full-width {
    box-sizing:content-box!important;
    width:100%;
  }

  .resultat {
    font-weight:600;
    margin-top:1%;
  }
  
  .botonesform {
    font-size:20px;
    color:white;
    font-weight:800;
    width:55px;
    padding:5px;
    margin:0px 10px 0px 10px;
  }

  .botonayuda {
    background:none;
    border:none;
  }

  body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index:2;
}

.overlay {
    background: rgba(49,49,49,0.8)!important;
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index:3;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.menu {
  font-weight:600;
  font-size:20px;
}

ul{
  list-style: none;
}

